
.green-onions {
    background-image: url("/images/greenOnionsBoard.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hey-o {
    padding-top: 50px;
    padding-bottom: 50px;
}

#coming-soon-card {
    background-color: lightgoldenrodyellow;
    padding-right: 30px;

}

.do-this {
    color: black;
    font-size: 60px;
}

 li {
     font-size: 20px;
 }
