/* #fruit-list {
    background-image: url("/images/.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-attachment: fixed;
}

#veggie-list {
    background-image: url("/images/purpleWhiteCabbage.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-attachment: fixed;
} */
