/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.card {
  margin-top: 150px;
}
.card-title-veggie {
  color: green;
}
.card-title-fruit {
  color: lightcoral;
}




/*** FONTS ***/
@import url(
  https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,
  400i,
  700,
  700i
);

/*** VARIABLES ***/
/* Colors */
$black: #1d1f20;
$blue: #83e4e2;
$green: #a2ed56;
$yellow: #fddc32;
$white: #fafafa;

/*** EXTEND ***/
/* box-shadow */
%boxshadow {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
    0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

/*** STYLE ***/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.pantrystuff {
  background-image: url("/images/lettuce.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-attachment: scroll;
}

/* body {
  background-color: $white;
  color: $black;
  font-family: "Raleway", sans-serif;
} */

main {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 1rem;
}

.fruit-pic {
  background-image: url("/images/closeUpBlueberries.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
}

.veggie-pic {
  background-image: url("/images/peasLight.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
}

